<form action="/categorie/update/{{ id }}" method="POST">
    {% load widget_tweaks %}
    {% csrf_token %}
        <div class="modal-dialog">  
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier une catégorie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-group my-1">
                    <label for="id_nom">Nom de la catégorie</label>
                    {{ form.nom|add_class:"form-control" }}
                </div>
            </div>
            <div class="modal-footer">
                <a href="/categorie/"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button></a>
                <button type="submit" class="btn btn-primary">Sauvegarder</button>
            </div>
            </div>
        </div>
    </form>